{% extends "GamePlayerBundle::layout_crud.html.twig" %}

{% block content %}
    <h1>Access Player creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('access') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
