{% extends '::base.html.twig' %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/gameplayer/css/demo.css') }}" />
{% endblock %}

{% block title 'Snowflake' %}

{% block body %}


    {% block content_header %}

    {% endblock %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>GAME</h1>
    <div class="block">

        {% block content %}

        {% endblock %}
    </div>

{% endblock %}
